html, body {
    height: 100%; 
    width: 100%; 
    margin: 0; 
    padding: 0; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    background-color: rgb(158, 213, 255);
}



#resetVolume {
    position: fixed;
    top: 0px; 
    left: 0; 
    width: 125px; 
    font-size: 16px; 
    background-color: red; 
    color: white; 
    border-radius: 75px;
    cursor: pointer;
    height: 125px;
    animation-name: moveReset;
    animation-duration: 8s;
    animation-iteration-count: infinite; 
}

.containerReset {
    background-color: grey;
    width: 100%;

    top: 200px;
}

#setVolume {
    position: fixed; 
    bottom: 5px; 
    left: 0; 
    width: 150px; 
    padding: 10px;
    font-size: 16px; 
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    height: 150px;
    animation-name: setvolAnim;
    animation-duration: 12s;
    animation-iteration-count: infinite; 
    border-radius: 80px;
}

.containerSet {
    background-color: #90b9ff;
    height: 200px;
    bottom: 0;
    width: 100%;
    border-radius: 80px;
}

#volSlide {
    width: 93%; 
    margin-top: 650px; 
}

#volumeInfo {
    position: fixed; 
    top: -30px; 
    width: 35%; 
    text-align: center; 
    border-radius: 25px;
    font-size: 50px; 
    color: #000000; 
    background-color: #90b9ff;
}

/*Using percentages rather that pixels helps with usability on a mobile screen*/
@keyframes moveReset{ /*Make it difficult to reset the volume*/
    0% {
        margin: 0;
        top: 15%;
    }
    20% {
        margin-top:30%;
        right: 10%
    }
    40% {
        right: 100%;
        top: -10%;
        transform: rotate(90deg);
    }
    60% {
        margin-left: 90%;
        margin-top: 16%;
        transform: rotate(0deg);
    }
    65% {
        margin-right: 0%;
        margin-top: 23%
    }
    75%{
        margin-left: 0%;
        margin-top: 16%;
        transform: rotate(-180deg);
    }
    100% {
        top: 15%;
    }
}

@keyframes setvolAnim { /*Make it difficult to set the volume*/
    0% {
        margin-left: 0px;
    }
    10% {
        margin-left: 20%;
    }
    20% {
        margin-left: 40%;
    }
    30% {
        margin-left: 60%;
    }
    35% {
        margin-left: 45%;
    }
    40% {
        margin-left: 80%;
    }
    45% {
        margin-left: 85%;
    }
    50% {
        margin-left:91%;
    }
    60% {
        margin-left: 50%;
    }
    85% {
        margin-left: 75%;
    }

}