/**
color scheme: 
#ecd178
#b8860b
#9a0209
**/

body {
    background-color: #ecd178;
    color: #333;
    margin: 0;
    font: 1.2em / 1.2 Arial, Helvetica, sans-serif;
  }

  h1 {
    color: #b8860b;;
    text-align: center;
    font-size: 300%;
  }

  h2 {
    color: #b8860b;;
    text-align: center;

  }

.logo {
    font-size: 200%;
    padding: 50px 20px;
    margin: 0 auto;
    max-width: 980px;
  }

  /**nav stuff**/

nav {
    background-color: #000;
    padding: .5em;
    position: sticky;
    top: -1px;
    top: 0;
    width: 100%;
  }
  
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    
  }
  
nav a {
    color:#b8860b;
    text-decoration: none;
    padding: .5em 1em;
  }
  nav a:hover {
    color:#ffc30f;
    text-decoration: none;
    padding: .5em 1em;
  }
/**Intro**/

.SymphMain {
    width: 550px;
    display: block;
    float: left;
    padding-right: 30px;
    border-radius: 75px;
}

.intro {
    width: 1500px;
    height: 350px;
    padding: 10px;
    margin-bottom: 100px;
    
}

h3 {
    vertical-align:baseline;
    padding-top: 35px;
}

/**Main event box**/

.box {
    width: 1000px;
    height: 400px;
    border: 2px solid black;
    padding: 10px;
    margin-top: 75px;
    margin-left: 249px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: #b8860b;
}

.topic {

}

.description {

}

/**Event subbox**/

.subbox {
    width: 1000px;
    height: 250px;
    border: 2px solid black;
    padding: 10px;
    margin-left: 249px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: #ebbe4d;

}

.FA {
    float: left;
    
}

.Rep {
    float: left;
    padding-left: 175px;
}

.FeaturedArtists {
    display: inline-block;
}

.Repertoire {
    display: inline-block;

}

/**Lower bar on screen**/

.bottomBar {
    background-color: #b8860b;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 25px;
}

.bottomBar a {
    float: left;
    display: block;
    padding: 14px 16px;
}


.bottomLogo {
    width: 200px;
    animation-name: logoMove;
    animation-duration: 8s;
    /**make animation run forever**/
    animation-iteration-count: infinite; 
    padding-bottom: 80px;
}

/**Key frame animations**/

@keyframes logoMove{
    from {
        margin: 0;
    }
    50% {
        margin-top: 5%;
    }
    to {
        margin: 0;
    }

}

/**Media Queries**/
/**if the screen size is more than 400px, then previous rules will apply, else, the following apply:**/
@media screen and (max-width: 400px) {
    h1 {
        color: #b8860b;;
        margin-left: 350px;
        font-size: 300%;
      }
    h2 {
        margin-left: 95px;
    }
    .box {
        width: 700px;
        height:750px;
        margin-left: 35%;
        margin-right: 35%;
        margin-top: 450px;
    }
    .subbox {
        width: 700px;
        height:300px;
        margin-left: 35%;
        margin-right: 35%;  
    }
    .SymphMain {
        width: 550px;
        display: block;
        float: none;
        padding-left: 250px;
        border-radius: none;
    }
    
    .intro {
        width: 950px;
        height: 350px;
        padding: 10px;
        margin-bottom: 100px;
        text-align: center;
    }
    .Rep {
        float: none;
        padding-left: 350px;
        padding-bottom: 300px;
    }
    .logo {
        font-size: 200%;
        padding-left: 300px;
        margin: 0 auto;
        max-width: 980px;
      }
}